<table class="table table-hover">
  <thead>
  <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>CPF</td>
      <td colspan="2">Ações</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let business of businesses">
          <td>{{ business.id }}</td>
          <td>{{ business.nome }}</td>
          <td>{{ business.cpf }}</td>
          <td><a [routerLink]="['edit', business.id]" class="btn btn-primary">Editar</a></td>
          <td><a (click) = "deleteBusiness(business.id)" class="btn btn-danger">Deletar</a></td>
      </tr>
  </tbody>
</table>