<ng2-slim-loading-bar color="Red"></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    4Health System 
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a routerLink="business/create" class="nav-link" routerLinkActive="active">
          Criar beneficiário
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="business" class="nav-link" routerLinkActive="active">
          Lista de beneficiários
        </a>
      </li>

      <li class="nav-item">
          <a routerLink="login" class="nav-link" routerLinkActive="active">
          logoff
        </a>
      </li>
      
    </ul>
  </div>
</nav>

<br />
<div class="container">
  <router-outlet></router-outlet>
  <alert></alert>
</div>
